<nav class="navbar navbar-expand-sm fixed-top navbar-light py-0">
    <a class="nav-link" href="">
        <i class="fas fa-th"></i>
    </a>
    <a class="navbar-brand" href="#">Inventory</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Operation</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Product</a>
                    <a class="dropdown-item" href="#">Product variants</a>
                    <a class="dropdown-item" href="#">Lots/Serial Numbers</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reporting
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configution
              </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="far fa-comments"></i>
                </a>
            </li>
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle waves-light" href="" data-toggle="dropdown">
                    <img src="favicon.ico" alt="" class="rounded-circle z-depth-0">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown dropdown-primary">
                    <a href="" class="dropdown-item waves-light">Profile</a>
                    <a href="" class="dropdown-item waves-light">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar pt-5" id="nav2">
    <div class="">
        <a id="product" class="nav-link active">Products</a>
        <a (click)=toggleDisplay() class="btn button1 active ml-3" [routerLink]="['product']" [hidden]="isShow">CREATE</a>
        <a (click)=toggleDisplay() class="btn button1 ml-3 mr-2" [routerLink]="['product']" [hidden]="isHide">SAVED</a>
        <a (click)=toggleDisplay() class="btn button1" [routerLink]="['list']" [hidden]="isHide">DISCARD</a>
    </div>
    <div style="display: inline-block;" [hidden]="isShow">
        <input class="search1" type="search" size="110" placeholder="Search..">
        <i class="fas fa-search"></i>
        <br>
        <div class="btn-group mt-2 mr-2">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-filter"></i><span> Filters</span>
          </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <div class="btn-group mt-2 mr-2">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars"></i><span> Group By</span>
        </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <div class="btn-group mt-2">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-star"></i><span> Favarites</span>
        </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <a style="float:right" class="btn btn-light mt-2 ml-2" id="icon" [routerLink]="['list']"><i class="fas fa-bars"></i></a>
        <a style="float:right" class="btn btn-light mt-2" id="icon" [routerLink]="['list-image']"><i class="fas fa-th-large"></i></a>
    </div>
</nav>
