nav {
    background-color: #7c6576;
    border-bottom: 1px solid #68465f;
}

#nav2 {
    background-color: white;
    border-bottom-style: inset;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    background-color: #7c6576;
}

.nav-item .nav-link {
    color: white;
}

.nav-item .nav-link:hover {
    background-color: #68465f;
}

.nav-link i {
    color: white;
}

#product {
    font-size: 20px;
    opacity: 0.6;
}

.search1:focus {
    outline: none;
}

.search1 {
    padding-top: -30px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.button1 {
    color: white;
    background-color: #00A09D;
    font-weight: 600;
    text-decoration: none;
}

.button1:hover {
    background-color: #195e5c;
    border-color: #00A09D;
}

.btn-light:hover {
    background-color: rgb(226, 226, 226);
}

#icon:active {
    background-color: rgb(96, 64, 172);
}

.btn-light {
    border: 1px solid black;
}
