@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
body {
    background-color: #fff
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all
}

.all-show {
    z-index: 10
}

.suction {
    font-size: 12px
}

.btn-success {
    border-radius: 4px;
    background-color: red;
    border-color: red
}

.btn-success:hover {
    border-radius: 4px;
    background-color: red;
    border-color: red
}

.product-card {
    background-color: white;
    flex: 1 1 auto;
    width: 365px;
    margin: 4px 8px;
    border: 1px solid #adb5bd;
}

.wishlist {
    border: 1px solid red;
    color: red
}

.wishlist:hover {
    background-color: red;
    color: #fff;
    border: 0.5px solid red
}

.container-fluid {
    background-color: #e9ecef;
}
