<div class="container-fluid my-2">
    <div class="row g-2">
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/image.png" width="64" height="64" style="padding: 3px;"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/image (1).png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/imagecoca.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/banh.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/banh.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/banh.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/banh.png" width="64" height="64" style="padding: 3px;"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="../../assets/images/banh.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="64" height="64"> </div>
                <div class="">
                    <h6 class="mb-1">Bacon Burger</h6>
                    <span>Price:</span><span>100$</span>
                    <br>
                    <span>On hand:</span><span>2.00 Units</span>
                </div>
            </div>
        </div>
    </div>
</div>
