<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="font-weight: 500;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                      UPDATE QUANTITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REPLENISH</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
