    table th:hover {
        background-color: darkseagreen;
    }

    table th {
        color: #666666;
        background-color: transparent;
        opacity: 0.8;
        border-radius: 0px;
        margin-bottom: 0;
    }

    table th .website {
        color: red;
    }

    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom: 2px solid #666666;
    }

    .form-check-label {
        margin: 0 5px 0 0;
        font-size: 1.08333333rem;
        line-height: 1.5;
        font-weight: bold;
    }

    label {
        display: inline-block;
        cursor: pointer;
    }

    .oe_avatar {
        float: right;
    }

    .o_field_image {
        position: relative;
    }

    .oe_avatar>img {
        max-width: 90px;
        max-height: 90px;
        vertical-align: top;
        border: 1px solid #a8a8a8;
    }

    .img-fluid {
        height: auto;
    }

    .o_field_image .o_form_image_controls {
        position: absolute;
        top: 0;
        left: auto;
        bottom: auto;
        right: 0;
        width: 100%;
        color: white;
        opacity: 0;
        background-color: #00A09D;
        transition: opacity ease 400ms;
        box-sizing: border-box;
    }

    .o_field_image:hover .o_form_image_controls {
        opacity: 0.8;
    }

    .o_field_image .o_form_image_controls>button.fa {
        border: none;
        background-color: transparent;
    }

    .o_field_image .o_form_image_controls>.fa {
        padding: 4px;
        margin: 5px;
        cursor: pointer;
    }

    .float-left {
        float: left !important;
    }

    .fa-lg {
        font-size: 1.33333333em;
        line-height: 0.75em;
        vertical-align: -15%;
    }

    button {
        border-radius: 0;
    }
