<div class="table-responsive-md">
    <table class="table table-striped text-center table-bordered">
        <thead>
            <tr>
                <th scope="col" class="website"><i class="website fas fa-globe-americas"></i> Go to Website</th>
                <th scope="col"><i class="fas fa-boxes"></i> 0.00 Units On Hand</th>
                <th scope="col"><i class="fas fa-boxes"></i> 0.00 Units On Forecasted</th>
                <th scope="col"><i class="fas fa-exchange-alt"></i> Product Moves</th>
                <th scope="col"><i class="fas fa-sync-alt"></i> 0 Reordering Rules</th>
                <th scope="col"><i class="fas fa-flask"></i> 0 Bill of Materials</th>
                <th scope="col"><i class="fas fa-shopping-cart"></i> 0.00 Units1 Purchased</th>
                <th scope="col"><i class="fas fa-signal"></i> 0.00 Units1 Sold</th>
            </tr>
        </thead>
    </table>
</div>
<form class="px-4">
    <div class="form-row">
        <div class="form-group col-md-6 py-3">
            <label class="form-check-label">Product Name</label>
            <input class="form-control form-control-lg" placeholder="Product Name">
            <div class="form-check pt-2">
                <input class="form-check-input" type="checkbox" value="" id="Sole_Check">
                <label class="form-check-label" for="Sole_Check">
                  Can be Sole
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Purchased_Check">
                <label class="form-check-label" for="Purchased_Check">
                  Can be Purchased
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Expensed_Check">
                <label class="form-check-label" for="Expensed_Check">
                  Can be Expensed
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Rented_Check">
                <label class="form-check-label" for="Rented_Check">
                  Can be Rented
                </label>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="o_field_image o_field_widget oe_avatar" aria-atomic="true" name="" data-original-title="" title="">
                <img class="img img-fluid" alt="Binary file" src="assets/images/upload.jpg" border="1" name="">
                <div class="o_form_image_controls">
                    <button class="fa fas fa-pencil-alt fa-lg float-left o_select_file_button" title="Edit" aria-label="Edit"></button>
                    <button class="fa far fa-trash-alt fa-lg float-right o_clear_file_button" title="Clear" aria-label="Clear"></button>
                </div>
            </div>
        </div>
    </div>
</form>
