nav a {
    color: black;
    opacity: 0.9;
}

label {
    color: rgb(10, 9, 9);
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid black;
}

.note {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.sales {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid black;
}

select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid black;
}

#rowstyle {
    height: 70px;
    font-size: 13px;
}

.label-row {
    font-weight: 500px;
    padding-top: 10px;
    font-size: 15px;
}

a {
    color: rgb(104, 104, 104);
    text-decoration: none;
}

.label-title {
    font-size: 19.5px;
    color: rgb(104, 104, 104);
}

.modal-footer-2 {
    text-align: left;
    padding: 10px;
}

#selectstyle {
    text-align-last: center;
    height: 50%;
    color: rgb(0, 0, 0);
    border-width: 0px;
    width: 20%;
    border-bottom: 1px solid black;
}

.modal-title {
    font-size: 15px;
}

.underline-textfield {
    width: 80%;
    font-size: 32px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.btn-info {
    border-radius: 0px;
}
