<nav>
    <div class="nav nav-tabs pl-4" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-general-information" role="tab" aria-selected="true">General Information</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-variants" role="tab" aria-selected="false">Variants</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-sales" role="tab" aria-selected="false">Sales</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-eCommerce" role="tab" aria-selected="false">eCommerce</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-PoS" role="tab" aria-selected="false">Point of
        Sale</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-purchase" role="tab" aria-selected="false">Purchase</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-inventory" role="tab" aria-selected="false">Inventory</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#nav-accounting" role="tab" aria-selected="false">Accounting</a>
    </div>
</nav>
<div class="tab-content px-4 pt-4" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-general-information" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Product Type</label>
                <select class="form-control" id="inputGroupSelect01" required>
                      <option value="Laptop">Consumable</option>
                      <option value="Phone">Storable</option>
                      <option value="Phone">Service</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Sales Price</label>
                <input class="form-control" placeholder="Sales Price" name="salesPrice" required value="$">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label>Product Category</label>
                <select class="form-control" id="inputGroupSelect01" required>
                          <option value="">All</option>
                          <option value="">All / Consumable</option>
                          <option value="">All / Deliveries</option>
                          <option value="">All / Expenses</option>
                          <option value="">All / Internal</option>
                          <option value="">All / Rental</option>
                </select>
            </div>
            <div class="form-group col-md-1 pt-4 pl-5">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-placement="left" title="External link">
                  <i class="fas fa-external-link-alt"></i>
                </button>
            </div>
            <div class="form-group col-md-6">
                <label>Sales Price</label>
                <div class="sales form-control">
                    <span class="badge badge-pill badge-success">Success</span>
                    <span class="badge badge-pill badge-danger">Danger</span>
                    <span class="badge badge-pill badge-warning">Warning</span>
                    <span class="badge badge-pill badge-info">Info</span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Internal Reference</label>
                <input class="form-control" placeholder="Internal Reference" name="internalReference" required>
            </div>
            <div class="form-group col-md-6">
                <label for="">Cost</label>
                <input class="form-control" placeholder="Cost" name="cost" required value="$ 0.00">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Barcode</label>
                <input class="form-control" placeholder="Barcode" name="barcode" required>
            </div>
            <div class="form-group col-md-6">
                <label>Company</label>
                <select class="form-control" id="inputGroupSelect01" required>
                      <option value="">FPT Company</option>
                      <option value="">VPS Company</option>
                      <option value="">IIS Company</option>
                      <option value="">ICG Company</option>
                      <option value="">UAL Company</option>
                    </select>
            </div>
        </div>

        <div class="form-row pt-5">
            <div class="form-group col-md-12">
                <label for="">Internal Notes</label>
                <input class="note form-control form-control-lg" placeholder="Internal Notes Is Only For Internal Purposes." name="internalNotes" required>
            </div>
        </div>
        <hr>
        <!-- Product Category -->
        <!-- Modal -->
        <div class="container-fluid">

        </div>
        <div class="modal fade bd-example-modal-lg" id="exampleModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                            Open: Product Category
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style=" text-align: right;">
                            <button class="btn"><i class="fa fa-th-list"></i></button>
                            <a href="">96 Products</a>
                            <button class="btn"><i class="fa fa-share-square"></i></button>
                            <a href="">Putaway Rules</a>
                        </div>
                        <hr>
                        <label style="font-weight: bold;">Category name</label>
                        <div>
                            <input class="underline-textfield" placeholder="e.g.Lamps" value="All" />
                        </div>
                        <div class="row" id="rowstyle">
                            <label class="col-3 label-row">Parent Category</label>
                            <select class="col-3" id="selectstyle">
                              <option></option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                        </div>
                        <div><label class="label-title">Logistics</label></div>

                        <div class="row" id="rowstyle">
                            <label class="col-3 label-row">Routes</label>
                            <select class="col-5" id="selectstyle">
                              <option></option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                        </div>
                        <div class="row" id="rowstyle">
                            <label class="col-3 label-row">Force Removal Strategy</label>
                            <select class="col-5" id="selectstyle">
                              <option></option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                        </div>
                        <div><label class="label-title">Inventory Valuation</label></div>
                        <div class="row" id="rowstyle">
                            <label class="col-3 label-row">Costing Method</label>
                            <select class="col-3" id="selectstyle">
                              <option>Standard Price</option>
                              <option>First In First Out(FIFO)</option>
                              <option>Average Cost(AVCO)</option>
                            </select>
                        </div>

                        <div class="row" id="rowstyle">
                            <label class="col-3 label-row">Inventory Valuation</label>
                            <select class="col-3" id="selectstyle">
                              <option>Manual</option>
                              <option>Automated</option>
                            </select>
                        </div>
                        <div>
                            <label class="label-title">Account Properties</label>
                            <div class="row" id="rowstyle">
                                <label class="col-3 label-row">Incomming Account</label>
                                <input class="col-3 underline-textfield" style="height: 40%; font-size: 13px;" value="400000 Products Sales">
                            </div>

                            <div class="row" id="rowstyle">
                                <label class="col-3 label-row">Expense Account</label>
                                <input class="col-3 underline-textfield" style="height: 40%; font-size: 13px;" value="600000 Expenses">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer-2">
                        <button type="button" class="btn btn-info">SAVE</button>
                        <button type="button" class="btn" data-dismiss="modal">DISCARD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Product Category -->
    <div class="tab-pane fade" id="nav-variants" role="tabpanel" aria-labelledby="nav-profile-tab">Variants</div>
    <div class="tab-pane fade" id="nav-sales" role="tabpanel" aria-labelledby="nav-contact-tab">Sales</div>
    <div class="tab-pane fade" id="nav-eCommerce" role="tabpanel" aria-labelledby="nav-profile-tab">eCommerce</div>
    <div class="tab-pane fade" id="nav-PoS" role="tabpanel" aria-labelledby="nav-contact-tab">Point of Sale</div>
    <div class="tab-pane fade" id="nav-purchase" role="tabpanel" aria-labelledby="nav-profile-tab">Purchase</div>
    <div class="tab-pane fade" id="nav-inventory" role="tabpanel" aria-labelledby="nav-contact-tab">Inventory</div>
    <div class="tab-pane fade" id="nav-accounting" role="tabpanel" aria-labelledby="nav-profile-tab">Accounting</div>
</div>
