<app-product-detail-form-header></app-product-detail-form-header>
<div class="container py-2">
    <form class="border">
        <div class="form-row">
            <div class="col-md-12">
                <app-product-detail-form-top></app-product-detail-form-top>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <app-product-detail-form-bottom></app-product-detail-form-bottom>
            </div>
        </div>
    </form>
</div>
