<div class="font-sans w-full pt-2">
    <table id="table" class="table">
        <thead>
            <tr style="background-color: white; ">
                <th data-type="number"></th>
                <th>Products name</th>
                <th>Internal Reference</th>
                <th>Responsible</th>
                <th>Sales Price</th>
                <th>Cost</th>
                <th>Quantity On Hand</th>
                <th>Forecasted Quantity</th>
                <th>Unit of Measure</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color: #666666;">
                <td class="fas fa-arrows-alt"></td>
                <td>Duong</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
            </tr>

            <tr>
                <td class="fas fa-arrows-alt"></td>
                <td>Hao</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
            </tr>
            <tr>
                <td class="fas fa-arrows-alt"></td>
                <td>Trong</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
            </tr>
            <tr>
                <td class="fas fa-arrows-alt"></td>
                <td>Trung</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>Andrea</td>
                <td>Ross</td>
            </tr>
        </tbody>
    </table>
</div>
