tr {
    border-bottom: 1px solid #E6E6E6;
    color: #666666;
}

td {
    font-size: 13px;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
    background-color: white;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 0.5rem;
}

.draggable {
    cursor: move;
    user-select: none;
}

.placeholder {
    background-color: #edf2f7;
}

.clone-table {
    border-collapse: collapse;
    border: none;
}

.clone-table th,
.clone-table td {
    border-top: none;
    padding: 0.5rem;
}

.dragging {
    background: #fff;
    z-index: 999;
}

body {
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-size: 1.08333333rem;
    font-weight: 400;
    line-height: 1.5;
}
